.main-title {
  text-align: center;
}
.content-title {
  text-align: center;
  width: 100%;
}
.wrap-out {
  text-align: center;
  border-bottom: 1px #777777 solid;
}
.wrap {
  display: inline-block;
  position: relative;
	outline: black solid;
}

.wrap .box {
  position: absolute;
  border: 2px solid #4f4;
  box-sizing: border-box;
}
.wrap canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}