@media screen and (min-width: 700px) {

    /*---------body,html-----------*/
    body {
      width:100%;
      height:100%;
      border:none;
      margin:none;
    }
    
    /*---------top menu-------*/
    #nav_phone{
        display:none;
    }

    /*----------sheet-----------*/
    #edit {
        height: 1000px;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 340px;
        margin-right:30px;
        background-color: #666666;
        background: #ffffff;
        box-shadow: 0 0 3px #333333;
    }

    /*-------- toolbar--------*/
    .scroll {
        width:300px;
        position:fixed;
        top: 50px;
        left: 30px;
        bottom: 0px;
        overflow-y: auto;
    }
    .ui.button[data-role="duration"], .ui.button[data-role="other"], .ui.button[data-role="note-action"]{
    width: 50px;
    height: 50px;
    padding: 0px;
    font-size: 25px;
    font-family: musicnote, serif;
}

    .phone_layout{
        display: none;
    }

    #toolbar{

        width:280px;
        margin-top:30px;
    }
    /*----------------------*/

    /*-------modal-------*/

    .ui.modal {

        height: 500px;
    }
    
    .modal_body{
        width:300px;
        display: inline-block;
    }
    
    .actions{
        margin-top: 80px;
    }
    
    #root,#sharp_drop,#guide,#tension{
        display: block;
        margin: 20px;
    }

    #show {
        display: inline-block;
        text-align:center;
        height:200px;
        width: 200px;
        left:50px;
        bottom:90px;
        line-height: 120px;
        font-size: 32px;
    }
    /*----------------*/
}
    /*------button--------*/

    .ui.button[data-role="duration"], .ui.button[data-role="other"], .ui.button[data-role="note-action"]{
        width: 45px;
        height: 50px;
        padding: 0px;
        margin: 5px;
        font-size: 25px;
        font-family: musicnote, serif;
    }

    .ui.button[data-role="chord"]{

        width: 60px;
        height: 50px;
        font-size: 5px;
    }

    .chord_container {

        margin-right: 10px;
        margin-top: 10px;
        display: inline-block;
        position: relative;
    }

    #remove {
        position: absolute;
        padding: 0px;

    }

    .ui.button[data-role="tone"]{
        width: 60px;
        height: 50px;
        margin: 5px;
    }

    .ui.button[data-role="add"] {
        width: 60px;
        height: 50px;
        margin-right: 10px;
        margin-top: 10px;
        padding-left: 20px;
    }


    #modal_button_add,modal_button_cancel {
        width: 60px;
        height: 30px;
    }
    /*-----------------------------*/


    /*----------others----------*/

    #chord {
        font-family: musicnote, serif;
    }

    @font-face {
      font-family: musicnote;
      src: url(MusiSync.ttf);
    }

    /*---------------------*/


@media screen and (max-width: 700px){
    
   /*---------body,html-----------*/
    body {
      width:100%;
      height:100%;
      border:none;
      margin:none;
    }

    /*----------sheet-----------*/
    #edit {
        height: 1000px;
        left: 10px;
        right: 10px;
        margin: 10px;
        margin-top:190px;
        background-color: #666666;
        background: #ffffff;
        box-shadow: 0 0 3px #333333;
    }
    
    /*----------top menu-----------*/
    #nav_phone {
       display:none;
    }
    
    .ui.setting.item {
        
        padding-left: 30px;
    }
    
    .sign.out.big.icon {
         padding-left: 15px;
    }
    
    /*-------- toolbar--------*/
    .scroll {
        display: none;    
    }
    
    #phone_toolbar {
        top:55px;
    }
    
    #tab_content {
        width: 100%;
        top: 85px;
        position: fixed;
    }
    
    .tab.segment {   
       height: 100px;
       white-space: nowrap;
       overflow-x: auto;
       overflow-y: hidden;
    }
    
    /*------------------------*/
    
    /*-------modal-------*/
    
    #root,#sharp_drop,#guide,#tension{
        display: block;
        margin: 20px;
    }
    
    #show {
        display: block;
        height: 200px;
        margin: 40px;
        text-align:center;
        line-height: 100px;
        font-size: 40px;
        
    }
    /*----------------*/
}
    


.share {
    text-align: center;
}

#edit canvas {
    cursor: pointer;
}

.ui.button.remove {
    color: red;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.overlay {
    position: fixed;
    left: 0px;
    top: 0px;/*
    right: 0px;
    bottom: 0px;*/
    width: 100%;
    height: 100%;
    background: #ffffff;
    table-layout:fixed;
    display:table;
}

.overlay .mid-wrap {
    display:table-cell;
    vertical-align:middle;
}
.overlay .wrap {
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    max-width: 90%;
    
    text-align: center;
}

.overlay .ui.card {
    width: 300px;
    max-width: 100%;
}

.overlay .ui.card .image{
    padding: 2em;
}
