#toolbar{
    width:280px;
    margin-top: 0px;
    margin-left:30px;
    position:fixed;
}

#edit {
    height: 1000px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 340px;
    margin-right:30px;
    background-color: #666666;
    background: #ffffff;
    box-shadow: 0 0 3px #333333;
}

.column {
    margin: 5px;
}

.ui.button[data-role="duration"], .ui.button[data-role="other"], .ui.button[data-role="note-action"]{
    width: 50px;
    height: 50px;
    padding: 0px;
    font-size: 25px;
    font-family: musicnote, serif;
}

.ui.button[data-role="chord"]{
    width: 60px;
    height: 50px;
    margin: 5px;
}

.ui.button[data-role="tone"]{
    width: 60px;
    height: 50px;
    margin: 5px;
}

.ui.button[data-role="add"] {
    width: 60px;
    height: 50px;
    margin: 5px;
    padding-left: 20px;
}

#chord {
    font-family: musicnote, serif;
}

#modal_button {
    width: 60px;
    height: 30px;
}

@font-face {
  font-family: musicnote;
  src: url(MusiSync.ttf);
}

.ui.modal {

    height: 500px;

}

.share {
    text-align: center;
}

#edit canvas {
    cursor: pointer;
}

.ui.button.remove {
    color: red;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.overlay {
    position: fixed;
    left: 0px;
    top: 0px;/*
    right: 0px;
    bottom: 0px;*/
    width: 100%;
    height: 100%;
    background: #ffffff;
    table-layout:fixed;
    display:table;
}

.overlay .mid-wrap {
    display:table-cell;
    vertical-align:middle;
}
.overlay .wrap {
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    max-width: 90%;
    
    text-align: center;
}

.overlay .ui.card {
    width: 300px;
    max-width: 100%;
}

.overlay .ui.card .image{
    padding: 2em;
}